In [ ]:
# 1. Read the csv file.

import pandas as pd

df = pd.read_csv('customer_data.csv')

In [2]:
# 2. View the first 5 rows of the dataset to understand its structure.

df.head()

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

In [3]:
# 3. How many rows and columns are in the dataset?

df.shape
    # 30000 rows 
    # 20 cols

(30000, 20)

In [4]:
# 4. Find the maximum, minimum, and mean age of the customers.

age_col = df['age']
max_age = age_col.max()
min_age = age_col.min()
mean_age = age_col.mean()

print(max_age)
print(min_age)
print(mean_age)

65
18
41.550066666666666

In [16]:
# 5. What are the three most common customer names?

df['name'] = df['first'] + ' ' + df['last']
name_col = df['name']
name_col.value_counts().sort_values(ascending=False)[:3]

name
Mr. Callie McCormick    3
Mrs. Pauline Bowers     3
Mr. Francis Hill        2
Name: count, dtype: int64

In [20]:
# 6. Identify the customers who have the same phone number.?

same_phn = df.groupby('phone').filter(lambda x: len(x)>1)
same_phn[['name', 'phone']]

                name           phone
15  Mrs. Lilly Tyler  (263) 382-8004
16   Mrs. Peter Cain  (263) 382-8004

In [24]:
# 7. How many customers have the profession “Structural Engineer”?

struct_eng_count = df['profession'].value_counts()['Structural Engineer']
struct_eng_count

np.int64(87)

In [32]:
# 8. How many male customers are Structural Engineers?

len(df[(df['gender']=='Male') & (df['profession']=='Structural Engineer')])

43

In [34]:
# 9. Find the female Structural Engineers from the province of Alberta (AB)

df[(df['gender']=='Female') & (df['profession']=='Structural Engineer') & (df['province']=='AB')]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,name
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,...,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903,Dr. Roy Stanley
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,...,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028,Mr. Lora Kennedy
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,...,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951,Mrs. Nell Richards
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,...,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989,Mrs. Don McDaniel

In [35]:
# 10. What is the maximum, minimum, and average spending amount?

spending_col = df['price(CAD)']
max_spending = spending_col.max()
min_spending = spending_col.min()
mean_spending = spending_col.mean()

print(max_spending)
print(min_spending)
print(mean_spending)

100.0
0.0
49.990775

In [38]:
# 11. Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!

df[df['price(CAD)']==0]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,name
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,...,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900,Dr. Bruce Bryan
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,...,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904,Mrs. Flora Clark

In [ ]:
# 12. As a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or more, please find out the customers?

df[df['price(CAD)']>=100]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,name
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,...,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063,Mrs. Gregory Brown
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,...,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955,Mrs. Cody Christensen
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,...,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983,Miss Lizzie Dixon

In [45]:
# 13. How many emails are associated with this credit card number ‘5020000000000230’?

df['email'][df['cc_no'] == 5020000000000230]

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

In [51]:
# 14. We need to send new cards to the customers well before the expire, how many cards are expiring in 2019?

df['cc_exp_dt'] = pd.to_datetime(
    df['cc_exp'],
    format='%m/%Y',
    errors='coerce'
)
df[df['cc_exp_dt'].dt.year == 2019]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,name,cc_expire_dt,cc_exp_dt
45,Mrs.,Winifred,Henderson,ezamaw@radi.kn,Female,43,Western Digital Inc,Relocation Manager,(250) 572-7482,K9C 2D2,...,Laser,99.49,Blue,196.43.87.187,Wednesday,pm,07/21/2051,Mrs. Winifred Henderson,2019-12-01,2019-12-01
46,Miss,Carolyn,Horton,dehje@mowakbo.tj,Male,22,Stewart & Stevenson Services Inc,Employment Agent,(737) 647-5446,L1F 9E3,...,InstaPayment,44.46,Yellow,135.153.126.179,Wednesday,pm,07/25/2010,Miss Carolyn Horton,2019-07-01,2019-07-01
49,Miss,Virgie,Adams,lodbinogu@ir.edu,Male,56,Maxtor Corporation,Systems Programmer,(764) 601-4889,B2O 6Z0,...,Diners Club Carte Blanche,66.05,Red,175.149.148.141,Monday,am,05/15/2047,Miss Virgie Adams,2019-02-01,2019-02-01
60,Mrs.,Blake,Hart,nup@pov.nc,Female,46,Kindred Healthcare Inc.,Computer Graphics Specialist,(719) 605-1004,X0O 5E1,...,InstaPayment,89.87,White,164.16.206.229,Sunday,am,05/05/1942,Mrs. Blake Hart,2019-10-01,2019-10-01
66,Miss,Leila,Carpenter,ke@wufiol.wf,Male,21,W.W. Grainger Inc,Artist,(816) 775-3467,E5X 5V9,...,Visa Electron,29.63,Green,99.203.101.232,Tuesday,am,01/28/1936,Miss Leila Carpenter,2019-11-01,2019-11-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29952,Mr.,Julia,Elliott,zuruhmu@gevbon.th,Female,18,Gentiva Health Services Inc.,Management Consultant,(878) 729-1214,C6L 3S8,...,Diners Club International,42.49,Blue,42.62.136.183,Saturday,am,10/17/2063,Mr. Julia Elliott,2019-05-01,2019-05-01
29957,Mrs.,Ronald,Stephens,beg@be.sc,Female,29,McDonald's Corporation,Geologist,(937) 288-1029,V4W 1T1,...,Discover Card,17.32,Red,46.127.70.118,Monday,pm,12/05/1913,Mrs. Ronald Stephens,2019-06-01,2019-06-01
29959,Mrs.,Isaac,Guerrero,ji@rofom.ve,Male,21,Johnson Controls Inc.,Lawyer,(706) 297-1902,B9M 1U5,...,Diners Club enRoute,26.69,White,207.217.50.132,Monday,pm,01/25/1958,Mrs. Isaac Guerrero,2019-10-01,2019-10-01
29966,Mrs.,Hunter,Rodriguez,zubibil@fo.do,Female,26,Pharmacia Corp,Interior Decorator,(874) 494-4542,K1M 8T0,...,InstaPayment,62.58,Green,108.20.175.201,Tuesday,am,09/10/1918,Mrs. Hunter Rodriguez,2019-09-01,2019-09-01
29987,Mr.,Billy,Lucas,hihdu@kuwze.hm,Female,38,Deluxe Corporation,Organizational Development Manager,(933) 517-6356,K6I 2U5,...,InstaPayment,21.17,Blue,72.8.98.51,Tuesday,pm,05/18/1929,Mr. Billy Lucas,2019-03-01,2019-03-01

In [53]:
# 15. How many people use Visa as their Credit Card Provider?

len(df[df['cc_type']=='Visa'])

1721

In [54]:
# 16. Can you find the customer who spent 100 CAD using Visa?

df[(df['cc_type']=='Visa') & (df['price(CAD)'] == 100)]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,name,cc_expire_dt,cc_exp_dt
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,...,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063,Mrs. Gregory Brown,2018-04-01,2018-04-01

In [56]:
# 17. What are two most common professions?

df['profession'].value_counts(ascending=False)[:2]

profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

In [60]:
# 18. Can you tell the top 5 most popular email providers? (e.g. gmail.com, yahoo.com, etc…)

df['email_provider'] = df['email'].str.split('@').str[1]
df['email_provider'].value_counts(ascending=False)[:5]

email_provider
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

In [61]:
# 19. Is there any customer who is using email with “am.edu”?

df[df['email_provider']=='am.edu']

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,price(CAD),fav_color,ip,weekday,ampm,date,name,cc_expire_dt,cc_exp_dt,email_provider
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,...,97.26,White,147.57.240.225,Monday,am,11/07/2066,Miss Loretta Fletcher,2021-05-01,2021-05-01,am.edu

In [69]:
# 20. Which day of the week, the store gets more customers?

df.groupby('weekday')['name'].count().sort_values(ascending=False).idxmax()

'Saturday'