In [92]:
# 1. Read the csv file.

import pandas as pd

df = pd.read_csv('customer_data.csv')

In [93]:
# 2. View the first 5 rows of the dataset to understand its structure.

df.head()

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

In [94]:
# 3. How many rows and columns are in the dataset?

df.shape
    # 30000 rows 
    # 20 cols

(30000, 20)

In [95]:
# 4. Find the maximum, minimum, and mean age of the customers.

age_col = df['age']
max_age = age_col.max()
min_age = age_col.min()
mean_age = age_col.mean()

print(max_age)
print(min_age)
print(mean_age)

65
18
41.550066666666666

In [96]:
# 5. What are the three most common customer names?

df['name'] = df['first'] + ' ' + df['last']
name_col = df['name']
name_col.value_counts().sort_values(ascending=False)[:3]

name
Henrietta Luna      4
Benjamin Goodman    3
Carl Morton         3
Name: count, dtype: int64

In [97]:
# 6. Identify the customers who have the same phone number.?

same_phn = df.groupby('phone').filter(lambda x: len(x)>1)
same_phn[['name', 'phone']]

           name           phone
15  Lilly Tyler  (263) 382-8004
16   Peter Cain  (263) 382-8004

In [98]:
# 7. How many customers have the profession “Structural Engineer”?

struct_eng = df[df['profession']=='Structural Engineer']
len(struct_eng)

87

In [99]:
# 8. How many male customers are Structural Engineers?

len(df[(df['gender']=='Male') & (df['profession']=='Structural Engineer')])

43

In [100]:
# 9. Find the female Structural Engineers from the province of Alberta (AB)

df[(df['gender']=='Female') & (df['profession']=='Structural Engineer') & (df['province']=='AB')]['name']

8858       Roy Stanley
9058      Lora Kennedy
24736    Nell Richards
29865     Don McDaniel
Name: name, dtype: object

In [101]:
# 10. What is the maximum, minimum, and average spending amount?

spending_col = df['price(CAD)']
max_spending = spending_col.max()
min_spending = spending_col.min()
mean_spending = spending_col.mean()

print(max_spending)
print(min_spending)
print(mean_spending)

100.0
0.0
49.990775

In [102]:
# 11. Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!

df[df['price(CAD)']==0]['name']

5320     Bruce Bryan
10597    Flora Clark
Name: name, dtype: object

In [103]:
# 12. As a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or more, please find out the customers?

df[df['price(CAD)']>=100]['name']

76          Gregory Brown
21093    Cody Christensen
24385        Lizzie Dixon
Name: name, dtype: object

In [104]:
# 13. How many emails are associated with this credit card number ‘5020000000000230’?

len(df['email'][df['cc_no'] == 5020000000000230])

2

In [105]:
# 14. We need to send new cards to the customers well before the expire, how many cards are expiring in 2019?

df['cc_exp_dt'] = pd.to_datetime(
    df['cc_exp'],
    format='%m/%Y',
    errors='coerce'
)
len(df[df['cc_exp_dt'].dt.year == 2019])

2684

In [106]:
# 15. How many people use Visa as their Credit Card Provider?

len(df[df['cc_type']=='Visa'])

1721

In [107]:
# 16. Can you find the customer who spent 100 CAD using Visa?

df[(df['cc_type']=='Visa') & (df['price(CAD)'] == 100)]['name']

76    Gregory Brown
Name: name, dtype: object

In [108]:
# 17. What are two most common professions?

df['profession'].value_counts(ascending=False)[:2]

profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

In [109]:
# 18. Can you tell the top 5 most popular email providers? (e.g. gmail.com, yahoo.com, etc…)

df['email_provider'] = df['email'].str.split('@').str[1]
df['email_provider'].value_counts(ascending=False)[:5]

email_provider
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

In [110]:
# 19. Is there any customer who is using email with “am.edu”?

df[df['email_provider']=='am.edu']['name']

150    Loretta Fletcher
Name: name, dtype: object

In [111]:
# 20. Which day of the week, the store gets more customers?

df.groupby('weekday')['name'].count().sort_values(ascending=False).idxmax()

'Saturday'